/*=== Responsive Style Sheet ===*/

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1170px){
	.banner-section{
		height: auto;
		min-height: auto;
		text-align: center;
		padding: 0;
	}


	.banner-section h1 br{
		display: none;
	}

	.banner-section .theme-btn{
		margin: 0 10px;
	}

	.banner-section .image-layer,
	.banner-section .image-box{
		position: relative;
		height: 600px;
		width: 100%;
		left: 0;
		background-size: cover;
		background-position: center top;
	}
	.login-section .logo img{
		max-width: 140px;
	}

}

@media only screen and (max-width: 1023px){

	.main-header{
		border-bottom: 0;
	}

	.main-header .outer-box .theme-btn{
		display: none;
	}

	.header-span{
		min-height: 56px;
		border-bottom: 1px solid #eeeeee;
	}

	.mobile-nav-toggler{
		display: block;
	}

	.main-header .main-box{
		padding: 10px 0;
	}

	.main-header .logo img{
		max-width: 120px;
	}

	.footer-menu{
		margin-right: 0;
		padding-right: 30px;
	}

	.footer-bottom{
	    text-align: center;
	    padding: 15px 15px;
	    border-top: 1px solid #eee;
	}

	.login-section{
		height: auto;
	}

	.login-section .content-box{
		display: none;
	}

	.form-box{
		width: 100%;
		padding: 100px 15px 50px;
		min-height: 100vh;
	}

	.login-section .logo{
		left: 0;
		top: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 15px;
		border-bottom: 1px solid #eeeeee;
	}


	.welcome-section.full-height{
		min-height: calc(100vh - 56px);
	}

	.main-header .top-center{
		padding: 13px 0;
	}

	.terms-and-conditions .outer-box{
		padding-right: 0;
	}


}

@media only screen and (max-width: 767px){


	.banner-section h1{
		margin-bottom: 20px;
	}

	.banner-section p{
		margin-bottom: 30px;
	}

	.banner-section .image-layer,
	.banner-section .image-box{
		height: 300px;
	}

	.subscribe-form .form-group{
		max-width: 100%;
	}

	.subscribe-form h4{
		text-align: center;
	}

	.main-footer .logo{
		text-align: center;
	}

	.footer-menu{
		max-width: 100%;
		padding: 0 30px;
		justify-content: center;
		align-content: center;
	}

	.contact-section .upper-box h2,
	.form-box .upper-box h4{
		font-size: 28px;
	}

	.contact-section .upper-box p,
	.form-box .upper-box p{
		margin-top: 5px;
		font-size: 14px;
		line-height: 22px;
	}

	.contact-section .upper-box,
	.form-box .upper-box{
		margin-bottom: 30px;
	}

	.welcome-section .icon-dots-2{
		top: 5px;
		background-size: 70px !important;
	}

	.contact-section{
		padding: 70px 0 30px;
	}

	.terms-and-conditions{
		padding: 50px 0;
	}

}

@media only screen and (max-width: 599px){

	.banner-section h1{
		font-size: 42px;
		line-height: 1em;
	}

	.coming-soon .text{
		font-size: 15px;
		line-height: 24px;
		padding: 0 15px;
	}

	.coming-soon .text br{
		display: none;
	}


	.coming-soon .content .content-inner{
		padding: 50px 0;
	}

	.footer-menu > li:after,
	.coming-soon .anim-icons{
		display: none;
	}

	.footer-menu{
		flex-direction: column;
	}

	.footer-menu > li{
		padding: 0;
		margin: 0 10px;
	}

	.main-footer .widgets-section{
		padding: 40px 0 10px;
	}


	.add-workspaces .add-remove-field,
	.add-locations .add-remove-field{
		display: block;
		padding-right: 50px;
	}

	.add-workspaces .add-remove-field .dropdown-style-one,
	.add-workspaces .add-remove-field input,
	.add-locations .add-remove-field input{
		margin-top: 5px;
		margin-right: 0px;
	}

	.add-workspaces .add-remove-field .remove-field, 
	.add-workspaces .add-remove-field .add-field,
	.add-locations .add-remove-field .remove-field, 
	.add-locations .add-remove-field .add-field{
		height: 100%;
	}


	.contact-section .contact-form{
		padding: 40px 20px;
	}

	.accordion-box .block .content{
		padding-right: 20px;
		padding-left: 45px;
	}

	.accordion-box .block .acc-btn{
		line-height: 22px;
		padding-left: 45px;
	}

	.accordion-box .block:before{
		width: 30px;
		font-size: 22px;
	}

	.terms-and-conditions h2,
	.sec-title h2{
		font-size: 32px;
	}

	.workspace-name{
		font-size: 16px;
	}
}

@media only screen and (max-width: 424px){

	.banner-section .theme-btn{
		max-width: 80%;
		width: 100%;
		margin: 0 auto 10px;
	}

	.footer-bottom p{
		font-size: 10px;
	}

	.form-box .upper-box p br,
	.sec-title .text br{
		display: none;
	}

}

