/*** 

====================================================================
Fonts
====================================================================

***/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');

/* font-family: 'Titillium Web', sans-serif;  */


@import url('fontawesome-all.css');
@import url('flaticon.css');
@import url('animate.css');


/*** 

====================================================================
Reset
====================================================================

***/

*{
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
	font-size: 100%;
}


/*** 

====================================================================
Global Settings
====================================================================

***/


body {
	font-size: 15px;
	line-height: 1.2em;
	background:#ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-family: 'Titillium Web', sans-serif;
}

a{
	text-decoration:none;
	cursor:pointer;
	color: #0165FF;
}

a:hover,
a:focus,
a:visited{
	text-decoration:none;
	outline:none;
}

section{
	background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6 {
	position:relative;
	font-weight:normal;
	margin:0px;
	background:none;
	line-height:1.2em;
	font-weight: 700;
	font-family: 'Titillium Web', sans-serif;
	color: #000000;
}


h1{
  font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 17px;
}

textarea{
	overflow:hidden;	
	resize: none;
}

button{
	outline: none !important;
	cursor: pointer;
	background: none;
	border: 0;
}


input::placeholder,
textarea::placeholder,
select::placeholder{
	color: inherit;
}

/* with the :focus here, we would show grey when not using the element */
select {
  color: black;
}
/* with the :focus here, we show grey when using the element */
select:focus {
  color: #9e9e9e;
}
option {
  color: black;
}
option:first-of-type {
  color: #9e9e9e;
}

p,.text{
	font-size: 16px;
	line-height: 26px;
	color: #0B0B0B;
}

.sub-text{
    font-size: 14px;
    color: #252525;
    font-weight: 400;
    line-height: 20px;
}

.sub-text i{
	font-size: 20px;
	line-height: 20px;
	margin-right: 5px;
}


::-webkit-input-placeholder{color: inherit;}
::-moz-input-placeholder{color: inherit;}
::-ms-input-placeholder{color: inherit;}


.auto-container{
	position:static;
	max-width:1150px;
	padding:0px 15px;
	margin:0 auto;
	width: 100%;
}

.small-container{
	position:static;
	max-width:990px;
	padding:0px 15px;
	margin:0 auto;
}

.page-wrapper{
	position:relative;
	margin:0 auto;
	width:100%;
	min-width:300px;
	overflow: hidden;
	z-index: 99;
	background-color: #ffffff;
}

ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}


.bg-colored{background-color: #c10000 !important;}
.colored{color: #797aec !important;}


.link{
	color: #09f;
	text-decoration: underline;
}


.swiper{
	overflow: hidden;
}


/*=== THeme Buttons ===*/

.theme-btn{
	text-align: center;
	color: inherit;
	display: inline-block;
	white-space: nowrap;
	-webkit-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.theme-btn i{
	margin-left: 5px;
}


.theme-btn.large{
	line-height: 25px;
	padding: 20px 35px;
}

/*Btn Style One*/

.btn-style-one{
	position:relative;
	display: inline-block;
	font-size: 15px;
	line-height: 25px;
	padding: 10px 25px;
	color: #FFFFFF;
	background: #7aa4f8;
	font-weight: 400;
	overflow: hidden;
	border-radius: 5px;
}

.btn-style-one:hover{
	color: #ffffff;
	background: #1238d5;
	box-shadow: 0 5px 10px rgba(0,0,0,.20);
}



/*Btn Style Two*/
.btn-style-two{
	position:relative;
	display: inline-block;
	font-size: 15px;
	line-height: 25px;
	padding: 10px 25px;
	color: #000000;
	background: #F3F3E7;
	font-weight: 400;
	overflow: hidden;
	border-radius: 5px;
}

.btn-style-two:hover{
	color: #ffffff;
	background: #B8B5F8;
	box-shadow: 0 5px 10px rgba(0,0,0,.10);
}


.theme-btn.large{
	padding: 15px 40px;
	font-size: 18px;
}

.theme-btn.small{
	padding: 7px 15px;
	font-size: 14px;
	line-height: 20px;
}

.preloader{ 
	position:fixed; 
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	z-index:999999; 
	background-color:#ffffff; 
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.preloader img,
.preloader svg{
	max-width: 70px;
	animation: stretch 1s infinite;
} 


@keyframes stretch {
      0% {
          transform: scale(1);
      }
      50% {
          transform: scale(.90);
      }
      100% {
          transform: scale(1);
      }
  }

.scroll-to-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 99;
	width: 30px;
	height: 30px;
	font-size: 18px;
	color: #1b2032;
	background-color: #B8B5F8;
	line-height: 30px;
	text-align: center;
	display: none;
	cursor: pointer;
	box-shadow: 0 5px 10px rgba(0,0,0,.10);
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

img{
	display:inline-block;
	max-width:100%;
	height:auto;	
}

.tabs-box{
	position: relative;
}

.tabs-box .tab{
	display: none;
}

.tabs-box .active-tab{
	display: block;
}


/* List Style */
.list-style-one{
	position: relative;
}

.list-style-one li{
	position: relative;
	color: #000000;
	font-size: 16px;
	line-height: 24px;
	padding-left: 20px;
}

.list-style-one li a{
	color: inherit;
	transition: all 300ms ease;
}

.list-style-one li a:hover{
	color: #FBCC1C;
}

.list-style-one li:before{
	position: absolute;
	left: -1px;
	top: 1px;
	line-height: 24px;
	content: "\f105"; 
	font-size: 14px;
	color: #293B35;
	font-weight: 900;
	font-family: "Line Awesome Free";
}


/*=== List style Two ===*/

.list-style-two{
	position: relative;
	margin-left: 20px;
	margin-bottom: 30px;
}

.list-style-two li{
	position: relative;
	font-size: 16px;
	color: #000;
	line-height: 24px;
	list-style-type: disc;
}

.list-style-two li a{
	color: #5cafc5;
	transition: all 300ms ease;
}

.list-style-two li a:hover{
	color: #428598;
}

/*=== List Style three ===*/

.list-style-three{
	position:relative;
	margin-bottom: 30px;
}

.list-style-three li{
	position:relative;
	font-size:16px;
	line-height:26px;
	color: #222222;
	font-weight:400;
	padding-left:35px;
	margin-bottom: 5px;
}

.list-style-three li:before{
	content: "\f058";
	position:absolute;
	left: 0;
	top: 0px;
	display:block;
	font-size:22px;
	line-height: 26px;
	padding: 0px;
	color:#293B35;
	font-weight:600;
	font-family: "Line Awesome Free";
}

.list-style-three li a:hover{
	color: #44bce2;
}

.anim-icons{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.anim-icons .icon{
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
}

/*=== Default Form ===*/

.default-form {
  position: relative;
}

.default-form .form-group {
  position: relative;
  margin-bottom: 20px;
}

.default-form .form-group label{
    padding-left: 0;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    display: inline-block;
    margin-bottom: 8px;
}

.default-form .form-group:last-child {
  margin-bottom: 0;
}

.dropdown-style-one .dropdown-toggle,
.default-form .form-group input[type="text"],
.default-form .form-group input[type="password"],
.default-form .form-group input[type="number"],
.default-form .form-group input[type="email"],
.default-form .form-group input[type="url"],
.default-form .form-group textarea,
.default-form .form-group select {
  position: relative;
  width: 100%;
  display: block;
  color: #444444;
  font-size: 16px;
  line-height: 23px;
  padding: 10px 15px;
  height: 45px;
  background-color: rgba(41, 59, 53, .05);
  letter-spacing: .01em;
  transition: all 300ms ease;
  outline: 0;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #dddddd;
}

.default-form .form-group input[type="text"]:focus,
.default-form .form-group input[type="email"]:focus,
.default-form .form-group input[type="password"]:focus,
.default-form .form-group input[type="url"]:focus,
.default-form .form-group select:focus,
.default-form .form-group textarea:focus {
	border-color: #000000;
}

.default-form .form-group textarea {
  height: 100px;
  resize: none;
}

.default-form .form-group input[type="submit"],
.default-form .form-group .theme-btn{
	position:relative;
	display: block;
	width: 100%;
	font-size: 18px;
	line-height: 25px;
	padding: 10px 25px;
	font-weight: 400;
	overflow: hidden;
	border-radius: 5px;
}

.default-form .form-group input[type="submit"]:hover,
.default-form .form-group .theme-btn:hover{

}

.default-form input.error:focus,
.default-form select.error:focus,
.default-form textarea.error:focus {
  border-color: #FF3A46;
}

.default-form label.error {
  display: block;
  font-weight: 500;
  font-size: 13px;
  text-transform: capitalize;
  line-height: 24px;
  color: #ff0000;
  margin-bottom: 0;
}

.default-form .form-group select{
	background-image: url(../images/icons/icon-select.png);
	background-repeat: no-repeat;
	background-position: center right;
}

.country-select.inside input,
.country-select.inside input[type=text]{
	padding-right:6px;
	padding-left:52px;
	margin-left:0
}


.add-remove-field{
	position: relative;
	display: flex;
	padding-right: 45px;
}

.add-remove-field .remove-field,
.add-remove-field .add-field{
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	height: 45px;
	min-width: 45px;
	color: #777777;
	background-color: #F3F3E7;
	border-radius: 5px;
  background-color: rgba(41, 59, 53, .05);
  border: 1px solid #dddddd;
}

.add-remove-field input{
	margin-right: 10px;
}

.add-remove-field .upload-logo .input-file{
	height: 45px !important;
	width: 45px !important;
	margin-right: 10px;
	border-width: 2px !important;
}

.add-remove-field .upload-logo .input-file .icon img{
	width: 25px;
}


.field-outer{
	position: relative;
}

.field-outer .icon{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 16px;
	color: #777777;
	line-height: 25px;
	padding: 10px 15px;
	cursor: pointer;
}


/* Dropdowns */

.dropdown-style-one .dropdown-toggle{
	text-align: left;
}

.dropdown-style-one .dropdown-toggle::after{
	position: absolute;
	right: 20px;
	top: 20px;
}

.dropdown-style-one .dropdown-menu{
	width: 100%;
	margin-top: -2px;
}

.dropdown-item.active, 
.dropdown-item:active{
	background-color: #B8B5F8;
}



/* Checkbox */

.checkbox{
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-left: 20px;
	margin-bottom: 5px;
}

.checkbox label{
	margin-bottom: 0;
}

.checkbox input{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: 0px;
	margin-right: 7px;
	transform: translateY(-50%);
}

/* Radio Box  */

.radio-box{
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 25px;
}

.radio-box input[type="radio"]{
	position: relative;
	top: 0px;
	transform: scale(1.5);
	transform-origin: left;
	margin-right: 20px;
}

.radio-box label{
	margin-bottom: 0;
}

.default-form .form-group select{
	background-image:url(../images/icons/icon-select.png);
	background-repeat: no-repeat;
	background-position: right center;
	-webkit-appearance: none;
}

.default-form .form-group .link{
	font-size: 16px;
	color: #293B35;
}

.switch-box{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 15px;
	border-bottom: 1px dashed #dddddd;
	margin-bottom: 15px;
}

.switch-box:last-child{
	border-bottom: 0;
	padding-bottom: 0;
}

.switch-box h5{
	font-size: 16px;
	font-weight: 400;
	color: #444;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  min-width: 50px;
  margin-left: 10px;
  margin-bottom: 0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #293B35;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}







.icon-cs-logo{
	height: 760px;
	width: 611px;
	background-image: url(../images/icons/icon-logo.svg);
}

/*.icon-dots{
	height: 101px;
	width: 105px;
	background-image: url(../images/icons/icon-dots.svg);
}*/

.icon-dots-2{
	height: 85px;
	width: 140px;
	background: url(../images/icons/icon-dots-2.svg) top left no-repeat;
	background-size: 100px;
	opacity: .5;
}
/*

.icon-dots-3{
	height: 81px;
	width: 130px;
	background: url(../images/icons/icon-dots-3.svg) top left no-repeat;
}

.icon-dots-4{
	height: 81px;
	width: 80px;
	background: url(../images/icons/icon-dots-4.svg) top left no-repeat;
}

.icon-dots-5{
	height: 81px;
	width: 80px;
	background: url(../images/icons/icon-dots-5.svg) top left no-repeat;
}

.icon-dots-6{
	height: 81px;
	width: 130px;
	background: url(../images/icons/icon-dots-6.svg) top left no-repeat;
}
*/
/*** 

====================================================================
Animations
====================================================================

***/

.bounce-y,
.coming-soon .icon-dots{
	animation: bounce-one 10s linear infinite;
}

.bounce-x,
.coming-soon .icon-cs-logo{
	animation: bounce-two 15s linear infinite;
}



@-webkit-keyframes bounce-one {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-one {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}


@-webkit-keyframes zoom-one {
  0% {
    transform: scale(.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(.9);
  }
}

@keyframes zoom-one {
  0% {
    transform: scale(.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(.9);
  }
}



@-webkit-keyframes bounce-two {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes bounce-two {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
/*** 

====================================================================
	Main Header
====================================================================

***/

.header-span{
	position: relative;
	display: block;
	min-height: 75px;
}

.main-header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 99;
	background-color: #ffffff;
	transition: all 300ms ease;
}

.main-header .main-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  transition: all 300ms ease;
}

.main-header .top-center{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 17px 0;
}


.main-header .logo svg,
.login-section .logo svg,
.login-section .logo img,
.main-header .logo img{
	width: 100%;
	max-height: 44px;
}



.main-header .outer-box{
	position: relative;
}

.main-header .outer-box .theme-btn{
	display: block;
}

.main-menu{
	position:relative;
}

.main-menu .navbar-header{
	display: none;
}

.main-menu .navbar-collapse{
	padding:0px;	
	-webkit-box-pack: end;	
	-ms-flex-pack: end;	
	justify-content: center;
}

.main-menu .navigation{
	position:relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin:0px;
}

.main-menu .navigation > li{
	position:relative;
	margin: 0 10px;
	-webkit-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-menu .navigation > li > a{
	position:relative;
	display:flex;
	align-items: center;
	justify-content: center;
	text-align:center;
	opacity:1;
	color:#000000;
	font-size: 14px;
	line-height: 30px;
	font-weight: 600;
	padding: 0 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	-webkit-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li > a:hover{
	border: 1px solid #b0aaf9;
}

.main-header.fixed-header{
	box-shadow: 0 0 10px rgba(0, 0, 0, .10);
}

.main-header.fixed-header .main-box{
	padding: 10px 0;
}


/*** 

====================================================================
Mobile Menu
====================================================================

***/

.mobile-nav-toggler{
	position: relative;
  width: 40px;
  height: 35px;
  cursor: pointer;
	display: none;
}

.menu-icon .menu-icon__cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}
.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}
.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, #000);
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:first-of-type {
  top: 0;
}
.menu-icon span:last-of-type {
  bottom: 0;
}
.menu-icon.active span:first-of-type{
  transform: rotate(45deg);
  top: 5px;
}
.menu-icon.active span:last-of-type{
  transform: rotate(-45deg);
  bottom: 5px;
}
.menu-icon.active:hover span:first-of-type, 
.menu-icon.active:hover span:last-of-type{
  width: 22px;
}


.mobile-menu{
	position: fixed;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	left: 0;
	top: 0;
	max-width:280px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow-y: auto;
	z-index: 9990;
	background: #F3F3E7;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.15);
	box-shadow: 0 0 30px rgba(0,0,0,0.15);
	-webkit-transform:  translateX(-100%);
	-ms-transform:  translateX(-100%);
	transform:  translateX(-100%);
}

.mobile-menu-visible{
	overflow: hidden;
}

.mobile-menu-visible .mobile-menu{
	-webkit-transform:  translateX(0%);
	-ms-transform:  translateX(0%);
	transform:  translateX(0%);
}

.mobile-menu-visible .menu-backdrop{
	opacity: .50;
	visibility: visible;
}

.menu-backdrop{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 1000%;
	background-color: #000000;
	opacity: .30;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.mobile-menu .nav-logo{
	position:relative;
	padding:10px 20px;
	text-align:left;	
}

.mobile-menu .nav-logo svg{
	max-width:180px;
}

.mobile-menu .menu-box{
	position: relative;
	left: 0px;
	top: 0;
	bottom: 0;
	width: 100%;
	padding: 0px 0px;
	z-index: 9;
	-webkit-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.mobile-menu .logo img{
	max-width: 120px;
}

.mobile-menu .close-btn{
	position: relative;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	line-height: 22px;
	width: 25px;
	height: 25px;
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-weight: 700;
	cursor: pointer;
	z-index: 10;
	border-radius: 50%;
}

.mobile-menu .close-btn .icon{
	vertical-align: middle;
}

.mobile-menu-visible .mobile-menu .close-btn{
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.mobile-menu .close-btn:hover{
	opacity: 0.50;
}

.mobile-upper{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 12px 15px;
	font-size: 24px;
	color: #222222;
	line-height: 1em;
	border-bottom: 1px solid rgba(0,0,0,.10);
}

.mobile-upper .logo{
	width: 170px;
}

.mobile-menu .navigation{
	position: relative;
	display: block;
	padding: 20px 0;
}

.mobile-menu .navigation > li{
	position: relative;
	display: block;
	border-bottom: 1px solid rgba(0,0,0,.10);
}

.mobile-menu .navigation li > a{
	position: relative;
	display: flex;
	align-items: center;
	line-height: 25px;
	padding: 10px 20px;
	font-size: 18px;
	color: #000000;
	font-weight: 500;
	text-transform: capitalize;
}

.mobile-menu .navigation li:hover > a,
.mobile-menu .navigation li.current > a{

}

.mobile-menu .navigation li li a{
	padding: 5px 20px;
	margin-left: 20px;
}

.mobile-menu .navigation > li > a > .icon{
	position: relative;
	display: block;
	margin-right: 7px;
}

.mobile-menu .navigation > li > a > .icon-users{
	background: url(../images/icons/icon-users-light.svg) center center no-repeat;
}

.mobile-menu .navigation li.dropdown .dropdown-btn{
	position:absolute;
	right:5px;
	top:2.5px;
	width:40px;
	height:40px;
	text-align:center;
	font-size:12px;
	line-height:40px;
	color:#222222;
	cursor:pointer;
	z-index:5;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.mobile-menu .navigation li.dropdown .dropdown-btn.active .fa:before{
	display: inline-block;
	position: relative;
	content: "\f068";
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul{
	display: none;
	border-top: 1px solid rgba(0,0,0,.10);
}

.mobile-menu .menu-outer{
	position: relative;
	padding: 20px 20px;
}

.mobile-menu .social-icon-one{
	justify-content: center;
}




.social-icon-one{
	position: relative;
	display: flex;
	align-items: center;
}

.social-icon-one li{
	position: relative;
	margin-left: 25px;
}

.social-icon-one li a{
	position: relative;
	height: 21px;
	width: 21px;
	color: #000000;
	text-align: center;
	font-size: 20px;
	display: block;
	line-height: 21px;
	transition: all 300ms ease;
}

.social-icon-one li a:hover{
	color: #B8B5F8;
}

.social-icon-one li:first-child{
	margin-left: 0;
}



/***

====================================================================
	Sec Title
====================================================================

***/

.sec-title{
	position: relative;
	margin-bottom: 50px;
}

.sec-title .text{
	font-size: 18px;
	line-height: 24px;
	margin-top: 10px;
}


/*** 

====================================================================
	Banner Section
====================================================================

***/

.banner-section{
	position: relative;
	padding: 100px 0;
	display: flex;
	min-height: calc(100vh - 75px);
	justify-content: center;
	align-items: center;
}

.banner-section .image-box{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50%;
}

.banner-section .image-layer{
	position: absolute;
	right: 0;
	top: 0;
	left:0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f3f3e7;
}

.banner-section .content-box{
	padding: 50px 0;
}

.banner-section h1{
	line-height: 55px;
	margin-bottom: 30px;
}

.banner-section p{
	font-size: 24px;
	color: #161616;
	margin-bottom: 50px;
}

.banner-section .theme-btn{
	margin-right: 20px;
}


/*** 

====================================================================
	Login Section
====================================================================

***/

.login-section{
	position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: auto;
    background: #F3F3E7;
    overflow: hidden;
}

.login-section .icon-dots{
	left: 100%;
	bottom: 30px;
	margin-left: 300px;
}

.login-section .icon-dots-2{
	top: 10%;
	left: 50%;
}

.login-section .icon-cs-logo{
	background-size: 100%;
	width: 200px;
	height: 100px;
	left: 100%;
	margin-left: 250px;
	bottom: 10px;
	opacity: .8;
	background-image: url(../images/icons/icon-logo.svg);
	background-size: 100px;
}

.login-section .logo{
	position: absolute;
	left: 30px;
	top: 20px;
}

.login-section .content-box{
	position: relative;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
	width: 60%;
	padding-right: 15px;
	overflow: hidden;
	order: 2;
}

.login-section .content-box .content{
	max-width: 1000px;
	padding: 100px;
	width: 100%;
}

.login-section .content-box .image{
	display: block;
	margin-bottom: 0;
}

.login-section .content-box .image img{
	display: block;
	max-width: 500px;
	margin: 0 auto;
	width: 100%;
}


.form-box{
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
  min-height:100vh;
	width: 40%;
	padding: 100px 40px;
	background: #ffffff;
}

.form-box .inner-box{
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}

.form-box .upper-box{
	position: relative;
	margin-bottom: 40px;
}

.form-box .upper-box h4{
	font-size: 32px;
	font-weight: bold;
	color: #000;
}

.form-box .upper-box p{
	margin-top: 10px;
	font-size: 16px;
	line-height: 24px;
	color: #98a6ad ;
}

.form-box .upper-box p a{
	color: #293B35;
}

.form-box .copyright-text{
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 12px;
	line-height: 18px;
	padding: 10px 20px;
	text-align: center;
	width: 100%;
	color: #777777;
}

.form-box .copyright-text a{
	color: #777777;
}


.add-workspaces .add-remove-field .dropdown-style-one{
	min-width: 40%;
	margin-right: 10px;
}

/***

====================================================================
	Welcome Section
====================================================================

***/

.welcome-section{
	position: relative;
	padding: 80px 0;
}

.welcome-section.full-height{
	min-height: calc(100vh);
}

.welcome-section .image-box{
	margin-bottom: 30px;
	text-align: center;
}

.welcome-section .image-box svg,
.welcome-section .image-box img{
	max-width: 500px;
	width: 100%;
}

.welcome-section h2{
	color: #2B3E8A;
}


.workspace-name{
	position: relative;
	font-size: 20px;
	color: #333333;
	margin-bottom: 30px;
	margin-top: 30px;
}

.welcome-section .loader{
	text-align: center;
	margin-bottom: 30px;
}

.welcome-section .loader img{
	max-width: 60px;
	opacity: .5;
}

.welcome-section .icon-dots-2{
	top: 50px;
}

/***

====================================================================
FAQ's Section
====================================================================

***/

.faq-section{
	position: relative;
	background: #F3F3E7;
	padding: 50px 0;
	min-height: calc(100vh - 80px);
}

.faq-section .accordions-outer{
	position: relative;
	max-width: 920px;
	margin: 0 auto;
}

.accordion-box {
	position: relative;
	margin-bottom: 30px;
}

.accordion-box .block {
	position: relative;
	background: #ffffff;
	box-shadow: 0px 4px 15px rgba(136, 136, 136, 0.1);
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	margin-bottom: 10px;
}

.accordion-box .block .acc-btn {
	position: relative;
	font-weight: 600;
	font-size: 16px;
	line-height: 25px;
	color: #000000;
	background: transparent;
	padding: 15px 60px 15px 70px;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.accordion-box .block:before{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 50px;
	background: #B8B5F8;
	content: "Q";
	font-weight: 700;
	font-size: 28px;
	line-height: 50px;
	color: #ffffff;
	text-align: center;
}

.accordion-box .block .acc-btn .icon{
	position: absolute;
	right: 5px;
	top: 50%;
	height: 30px;
	width: 30px;
	line-height: 30px;
	margin-top: -15px;
	font-size: 16px;
	color: #777777;
	font-weight: 900;
}

.accordion-box .block.active-block .acc-btn .icon:before{
	content: "\f151";
}

.accordion-box .block .acc-content {
	position: relative;
	display: none;
}

.accordion-box .block .acc-content.current {
	display: block;
}

.accordion-box .block .content {
	position: relative;
	padding: 0px 80px 20px 70px;
}

.accordion-box .block .content p{
	position: relative;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 10px;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.accordion-box .block .content p a{
	color: #1473E6;
	text-decoration: underline;
}

.accordion-box .block .content p:last-child{
	margin-bottom: 0;
}




.or-label{
	position: relative;
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.or-label:before,
.or-label:after{
	display: block;
	content: "";
	height: 1px;
	background: #ccc;
	flex-grow: 5;
}

.or-label span{
    flex-grow: 1;
    margin: 0 5px;
    text-align: center;
}

.btn-google{
    padding: 10px 30px;
    display: block;
    text-align: center;
    background-color: #ffffff;
    color: #545454;
    line-height: 25px;
    border: 1px solid rgba(0, 0, 0, .10);
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    transition: all 300ms ease;
}

.btn-google:hover{
	box-shadow: 0 2px 7px rgb(0 0 0 / 12%);
}


.btn-google:hover{
    color: #545454;
}

.btn-google img{
	margin-right: 5px;
}

.default-form.width-medium{
	max-width: 500px;
}

.default-form .upload-logo {
    position: relative;
}

.default-form .upload-logo .input-file {
    height: 85px;
    width: 85px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #ffffff;
    color: #c1c1c1;
    border: 3px dashed #ddd;
    font-size: 10px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    transition: all 300ms ease;
    margin-bottom: 0;
}

.default-form .upload-logo .input-file:hover {
    border: 3px dashed #999;
}

.default-form .upload-logo .input-file .icon {
		font-size: 10px;
		color: #777777;
		line-height: 11px;
    margin-top: 6px;
    margin-bottom: 5px;
}

.default-form .upload-logo .input-file .icon img{
	width: 22px;
}


.default-form .upload-logo [type="file"] {
    display: none;
}

.upload-logo #uploaded_image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

.upload-logo #uploaded_image img {
    height: 45px;
    width: 45px;
    background-color: #ffffff;
    left: -1px;
    position: relative;
}

.image_crop_model .close {
    position: absolute;
    right: 0;
    width: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 50px;
    top: 0;
    font-size: 30px;
    color: red;
}


.form-nav{
	position: relative;
}

.form-nav .back-btn{
	display: block;
	line-height: 23px;
	padding: 10px 30px;
	text-align: center;
	color: #777777 !important;
	border: 1px solid #dddddd;
	transition: all 300ms ease;
}

.form-nav .skip-btn{
	display: block;
	line-height: 23px;
	padding: 10px 30px;
	text-align: center;
	font-size: 15px;
	color: #333 !important;
	border: 1px solid #F3F3E7;
	background: #F3F3E7;
	margin-bottom: 1rem;
	transition: all 300ms ease;
}

.form-nav .back-btn:hover,
.form-nav .skip-btn:hover{
	box-shadow: 0 3px 7px rgba(0, 0, 0, .10);
}






/***

==================================================================
Main Footer
==================================================================

***/

.main-footer{
	position: relative;
	overflow: hidden;
	background: #ffffff;
	border-top: 1px solid #eeeeee;
}

/* Widget Section */

.main-footer .widgets-section{
	position: relative;
	padding: 60px 0 0px;
}

.main-footer .auto-container{
	max-width: 1140px;
}

.main-footer .footer-column{
	position:relative;
	margin-bottom:30px;
}

.main-footer .footer-widget{
	position:relative;
}

.main-footer .logo{
	position:relative;  
	margin-bottom: 20px;
}

.main-footer .logo img{
	max-width: 135px;
}

.subscribe-form{
	position:relative;
}

.subscribe-form h4{
	font-weight: normal;
	text-align: right;
	font-size: 20px;
	line-height: 28px;
	color: #000000;
	margin-bottom: 20px;
}

.subscribe-form .form-group{
	position:relative;
	max-width: 350px;
	margin: 0 auto;
}

.subscribe-form .form-group input[type="text"],
.subscribe-form .form-group input[type="email"]{
	position: relative;
	display:block;
	height:40px;
	width:100%;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	padding: 9px 10px;
	text-align: center;
	border: 1px solid #dddddd;
	border-radius: 2px;
	background: none;
	background-color: rgba(0, 0, 0, .05);
	-webkit-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.subscribe-form .form-group .theme-btn{
	font-size: 14px;
	line-height: 20px;
	padding: 7px 10px;
	font-weight: 400;
	width: 100%;
	margin-top: 5px;
}

.subscribe-form .ty-msg{
	position: relative;
	display: block;
	font-size: 26px;
	line-height: 1.2em;
	color: #1438c9;
	font-weight: 700;
	background: #ffffff;
	max-width: 700px;
	margin: 0 auto;
	border-radius: 10px;
	display: none;
}

.footer-menu{
	position:relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin:12px -70px 30px 0;
	flex-wrap: wrap;
	max-width: 500px;
}

.footer-menu > li{
	position:relative;
	padding-right: 14px;
	margin-right: 12px;
	-webkit-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.footer-menu > li:after{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
	line-height: 30px;
	color: #b0aaf9;
	content: "|";
}

.footer-menu > li:last-child:after{
	display: none;
}

.footer-menu > li > a{
	position:relative;
	display:flex;
	align-items: center;
	justify-content: center;
	text-align:center;
	opacity:1;
	color:#000;
	font-size: 14px;
	line-height: 30px;
	font-weight: 300;
	-webkit-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.footer-menu > li > a:hover{
	color: #b0aaf9;
}

.footer-menu > li.current > a{
	border-bottom: 6px solid #293B35;
}

.main-footer .social-icon-one li{
	margin-left: 0;
	margin-right: 25px;
}

.main-footer .social-icon-one li a{
	color: #ffffff;
}

.main-footer .social-icon-one li:last-child{
	margin-right: 0;
}

.footer-bottom{
	position: relative;
	padding: 0px 0 25px;
}

.footer-bottom p{
	position: relative;
	display: block;
	font-size: 12px;
	line-height: 20px;
	color: #555555;
	margin-bottom: 0;
}

.footer-bottom p a{
	color: #555555
}


.main-footer .subscribe-form .form-group{
	margin-right: 0;
}


/*** 

====================================================================
			Coming Soon
====================================================================

***/

.coming-soon{
	position: relative;
	overflow-y: auto;
	min-height: 100vh;
}

.coming-soon .icon-dots-2{
		top: 10%;
}


.coming-soon .content{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: middle;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	overflow: hidden;
}

.coming-soon .content .content-inner{
	position: relative;
	padding: 100px 0;
  display: table-cell;
}

.coming-soon .content .logo{
	position: relative;
	max-width: 250px;
	margin: 0 auto 50px;
}

.coming-soon .image{
	margin-bottom: 30px;
}

.coming-soon .image img{
	max-width: 500px;
	text-align: center;
}


.coming-soon .text{
	position:relative;
	font-size:18px;
	font-weight:400;
	line-height: 1.5em;
	color:#1a1a1a;
	max-width: 900px;
	margin: 0 auto 30px;
}

.coming-soon h2{
	margin-bottom: 20px;
}

.coming-soon h1{
    position: relative;
    color: #000000;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 40px;
}

.coming-soon h4{
	font-size: 24px;
	color: #000000;
	text-align: center;
	font-weight: 600;
	margin-bottom: 20px;
}




/***

==================================================================
	Terms and Conditions
==================================================================

***/

.terms-and-conditions{
	position: relative;
	padding: 100px 0;
	background-color: #F3F3E7;
}

.terms-and-conditions .outer-box{
	position: relative;
	padding-right: 200px;
}

.terms-and-conditions h2{
	font-size: 36px;
	font-weight: 600;
  color: #000000;
  margin-bottom: 1em;
}

.terms-and-conditions h5{
	font-size: 22px;
	font-weight: 600;
  color: #000000;
  margin-top: 40px;
  margin-bottom: .5em;
}

.terms-and-conditions p{
	color: #000000;
	font-size: 16px;
	margin-bottom: 20px;
}

.terms-and-conditions p a{
	color: #293B35;
}

.terms-and-conditions p strong{
	font-weight: 600;
}

.terms-and-conditions ol.decimal{
	margin-left: 20px;
}

.terms-and-conditions ol.decimal li{
	list-style-type: decimal;
	line-height: 24px;
	font-size: 16px;
	list-style-position: outside;
	color: #000000;
}




/***

==================================================================
Contact Section
==================================================================

***/

.contact-section{
    position: relative;
    padding: 100px 0 50px;
		background: #F3F3E7;
}

.contact-section .icon-dots-2{
	top: 100px;
	left: -130px;
}

.contact-section .icon-dots-4{
	left: 100%;
	bottom: 200px;
}

.contact-section .upper-box{
    max-width: 850px;
    position: relative;
    z-index: 1;
    margin: 0 auto 50px;
}

.contact-section .upper-box h2{
	font-weight: 600;
	font-size: 38px;
	margin-bottom: 10px;
}

.contact-section .upper-box p{
	font-size: 18px;
	color: #000;
}

.contact-section .contact-form{
    max-width: 850px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 50px 50px 50px;
    border: 1px solid #ECEDF2;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
}

.contact-section .contact-form textarea{
	height: 150px;
}

.contact-section .contact-form .theme-btn{
    max-width: 330px;
    width: 100%;
}

.contact-block{
	position: relative;
	margin-bottom: 50px;
}

.contact-block .inner-box{
	position: relative;
	border-radius: 5px;
	text-align: center;
	max-width: 300px;
	margin: 0 auto;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.contact-block .icon{
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;
	line-height: 50px;
	font-size: 24px;
	color: #ffffff;
	border-radius: 50px;
	background-color: rgba(129,176,63,.20);
	background: #B8B5F8;
	margin-bottom: 18px;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.contact-block p{
	font-size: 16px;
	line-height: 24px;
	color: #000;
	font-weight: 400;
	margin-bottom: 0;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.contact-block p a{
	color: inherit;
}

.contact-section .contact-info-box{
    max-width: 850px;
    position: relative;
    z-index: 1;
    margin: 70px auto 0;
}

.contact-section.thank-you{
	padding: 120px 0 205px;
}

.contact-section.thank-you .icon-dots-4{
	bottom: 70px;
}




/*** 

====================================================================
    Pricing Section Two
====================================================================

***/

.pricing-section-two{
  position: relative;
  padding: 50px 0 50px;
  overflow: hidden;
  background-color: #F3F3E7;
}

.pricing-section-two .outer-box{
  max-width: 1000px;
  margin: 0 auto;
}

.pricing-section-two .row{
  margin: 0;
}

.pricing-block-two{
  position: relative;
  padding: 0px;
  margin-bottom: 50px;
}

.pricing-block-two .inner-box{
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  padding: 50px 20px 40px;
  max-width: 300px;
  border-radius: 20px;
  margin: 0 auto;
}


/* common */
.ribbon {
  width: 130px;
  height: 100px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 5px 0;
  background-color: #B8B5F8;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -5px;
  left: -5px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 30px;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

.pricing-block-two .title-box{
  position: relative;
  text-align: center;
}

.pricing-block-two .icon-outer{
  position: relative;
  max-width: 100px;
  margin: 0 auto 10px;
}

.pricing-block-two .title{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 1.2em;
  color: #262949;
  font-weight: 600;
  margin-bottom: 10px;
}

.pricing-block-two .price{
  display: block;
  font-size: 48px;
  color: #262949;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.pricing-block-two .price sup{
  font-weight: 400;
  font-size: 60%;
}

.pricing-block-two .price .currency{
  font-size: 40%;
  font-weight: 400;
  margin-right: 5px;
}

.pricing-block-two .features{
  position: relative;
  text-align: center;
}

.pricing-block-two .features li{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 5px;
}

.pricing-block-two .features li a{
  color: #222222;
}

.pricing-block-two .btn-box{
  position: relative;
  text-align: center;
  margin-top: 30px;
}


/*** 

====================================================================
    Do More Section
====================================================================

***/

.do-more-section{
	position: relative;
	padding: 100px 0;
}

/*** 

====================================================================
	Do More Section
====================================================================

***/

.do-more-section{
	position: relative;
	padding: 120px 0 100px;
}


.work-block{
	position: relative;
	padding: 50px;
	margin-bottom: 100px;
}



.work-block .row{
	align-items: center;
}

.work-block .image-column{
	position: relative;
	text-align: center;
}

.work-block .image-column .image{
	margin-bottom: 0;
}

.work-block .image-column img{
	width: 100%;
}

.work-block .image-column .image{
	padding-right: 30px;
}

.work-block .image-column.order-2 .image{
	padding-right: 0;
}

.work-block .content-column{
	position: relative;
}

.work-block .content-column .inner-column{
	position: relative;
	margin-right: -100px;
}


.work-block .title{
	font-size: 18px;
	font-weight: 200;
	display: block;
	color: #353877;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.work-block h3{
	font-size: 42px;
	margin-bottom: 30px;
}

.work-block .text{
	font-size: 18px;
	line-height: 28px;
	max-width: 500px;
}


